# Uploaded files
backend/uploads/

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/

# Node
node_modules/
dist/

# Environment files
.env
.env.*
.env.production

# Database files
*.db
*.sqlite3